header {
  width: 100%;
  height: 60px;
  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  img {
  	margin-left: 30px;
  	max-height: 30px;
  	width: auto;
  }
  .app-add-button {
    height: 30px;
    width: 130px;
    margin-right: 30px;
    margin-top: 0;
    background-color: $shine-brand-blue;
    color: #fff;
    box-shadow: none;
    visibility: hidden;
    &:hover {
      background-color: $shine-blue;
    }
  }
}

.expository {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  color: $shine-brand-blue;
  text-align: center;
  max-width: 95%;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: $shine-orange;
  &#videoLink {
    &::before {
      content: '';
      background-image: url('/assets/video-icon.svg');
      height: 19px;
      width: 23px;
      display: inline-block;
      background-repeat: no-repeat;
      position: relative;
      top: 3px;
      right: 5px;
    }
  }
}

h1 {
  font-family: $heavy-font;
    color: $shine-orange;
  height: 42px;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

button, a.button {
  width: 95%;
  max-width: 400px;
  height: 50px;
  border-radius: $border-radius;
  font-size: 18px;
  background-color: $shine-orange;
  color: white;
  border: none;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  margin-top: 23px;
  cursor: pointer;
  transition: .1s all;
  &:hover { background-color: $shine-light-orange; }
}

.no-mobile {
  width: 100%;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  .button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 5px;
    }
  }
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  background-color: #f3f4f5;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/shine-sun.svg');
  background-position: center;
  background-repeat: no-repeat;
  &::after {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    background-image: url('/assets/loader.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 60%;
    animation: spin .8s infinite linear;
  }
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}
